version: '3.6'

services:
  drupal:
    image: ghcr.io/rnsrk/soda_scs_manager_images:drupal11.0-php8.3-apache-bookworm-wisski-dev
    volumes:
      - drupal-modules:/var/www/html/modules
      - drupal-profiles:/var/www/html/profiles
      - drupal-themes:/var/www/html/themes
      - drupal-libraries:/var/www/html/libraries
      - drupal-sites:/var/www/html/sites
    environment:
      DB_HOST: ${DB_HOST}
      DB_DRIVER: ${DB_DRIVER}
      DOMAIN: ${DOMAIN}
      DRUPAL_USER: ${DRUPAL_USER}
      DRUPAL_PASSWORD: ${DRUPAL_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_USER: ${DB_USER}
      SERVICE_NAME: ${SERVICE_NAME}
      SITE_NAME: ${SITE_NAME}
      TS_PASSWORD: ${TS_PASSWORD}
      TS_READ_URL: ${TS_READ_URL}
      TS_REPOSITORY: ${TS_REPOSITORY}
      TS_USERNAME: ${TS_USERNAME}
      TS_WRITE_URL: ${TS_WRITE_URL}
    restart: 'no'
    networks:
      - database-network
      - traefik-public
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public
      - traefik.http.middlewares.https-redirect.redirectscheme.scheme=https
      - traefik.http.middlewares.https-redirect.redirectscheme.permanent=true
      - traefik.http.routers.${SERVICE_NAME}-http.rule=Host(`${SERVICE_NAME}.${DOMAIN}`)
      - traefik.http.routers.${SERVICE_NAME}-http.entrypoints=http
      - traefik.http.routers.${SERVICE_NAME}-http.middlewares=https-redirect
      - traefik.http.routers.${SERVICE_NAME}-https.rule=Host(`${SERVICE_NAME}.${DOMAIN}`)
      - traefik.http.routers.${SERVICE_NAME}-https.entrypoints=https
      - traefik.http.routers.${SERVICE_NAME}-https.tls=true
      - traefik.http.routers.${SERVICE_NAME}-https.tls.certresolver=le
      - traefik.http.routers.${SERVICE_NAME}-ssh.entrypoints=ssh
      - traefik.http.services.${SERVICE_NAME}-https.loadbalancer.server.port=80

networks:
  database-network:
    external: true
  traefik-public:
    external: true

volumes:
  drupal-modules:
  drupal-profiles:
  drupal-themes:
  drupal-libraries:
  drupal-sites:
